* ::before,
* ::after,
* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}

#home {
    font-size:30px;
    margin: 50px auto;
    border: 10px inset rgb(0, 0, 0);
    padding: 40px;
    text-align: justify;
    list-style-type: none;
    width: fit-content;
    height: auto;
}

ul, ol {
    text-align:left;
}

a{
    text-decoration: none;
    color:  coral
}

.homepage {
    padding: 5px;
}

h1 {
    font-size: 60px;
}