body {
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}

#home {
    text-align:center;
    font-size:30px;
    list-style-type: none;
}

ul, ol {
    text-align:left;
}

h1 {
    font-size: 60px;
}